<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>달러 환전</h1>
    <form action="/exchange" method="post">
        
        <div>
            <label for="currency">환율:</label>
            <input type="text" id="currency" name="currency"  value="USD" required>
        </div>
        <br>

        <div>
            <label for="paid">환율:</label>
            <input type="number" id="paid" name="paid" required>
        </div>
        <br>
        <div>
            <label for="price">환전을 원하는 금액:</label>
            <input type="number" id="price" name="price" required>
        </div>
        <br>
        <button type="submit">계산하기</button>
    </form>
    
    {{render_html | default('') | safe}}
    
    

</body>
</html>